modules = ["nodejs-20", "web", "python-3.11"]
run = "npm run dev"

[nix]
channel = "stable-25_05"
packages = ["glibcLocales"]

[deployment]
run = ["sh", "-c", "npm start"]
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 5000
externalPort = 80
